.fas:hover{
    cursor: pointer;
}
/* .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  } */
  .my-pagination /deep/ .ngx-pagination .current {
    background: #153d77;
}