<div class="no-click-backdrop"></div>
<h2 mat-dialog-title>Dossier {{modalTitle}}</h2>
<mat-dialog-content *ngIf="data.update!='name'">Tu es sure d'effectuer cette action {{modalTitle}}??
    

    <div class="card-body">
        <table id="datatables-clients" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>titre</th>
                   
                
                    <th>date de création</th>
                   
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of data.forms; let i = index">
                  <ng-container *ngIf="f" >
                    <td>{{i}}</td>
                    <td> <span style="cursor: pointer;"  [routerLink]="['/admin/forms/detail' , f._id]"> {{f?.title}} </span>  </td>
                   
                  
                    <td>{{f?.created_date | date}}</td>


                
                    <td class="table-action row">
                        <mat-dialog-actions>
                        <button *ngIf="!checkIfFormAffectedToDoctor(f)" (click)="open(f._id,1,f.title,f,i); "  mat-raised-button [mat-dialog-close]="true">

                            <mat-icon style="font-size: 30px; margin: 4px;margin-bottom: 8px;">
                                send
                            </mat-icon>
                        </button>       
                        <div style="width:4px"></div>
                        <button *ngIf="checkIfFormAffectedToDoctor(f)" (click)="open(f._id,2,f.title,f,i); "  mat-raised-button [mat-dialog-close]="true">


                            <mat-icon style="font-size: 30px; margin: 4px;margin-bottom: 8px;">
                                cancel_schedule_send
                            </mat-icon>
                        </button>       
                       
                          
                    </mat-dialog-actions> 
                  
                    </td>
                  </ng-container>
                </tr>
     
            </tbody>
        </table>
    </div>
</mat-dialog-content>
<mat-dialog-actions *ngIf="data.update=='name'">
    <div class="card-body">
        <input [(ngModel)]="nameDossier"  type="text"class="form-control"  placeholder="{{data.title}}">  
    </div>

</mat-dialog-actions>
<mat-dialog-actions *ngIf="data.update=='name'">
<button mat-button mat-dialog-close>NON</button>

<button (click)="updatedossier()" mat-button [mat-dialog-close]="true">OUI</button>
</mat-dialog-actions>
<mat-dialog-actions *ngIf="data.update!='name'">
<button mat-button mat-dialog-close>NON</button>
<button mat-button [mat-dialog-close]="true">OUI</button>
</mat-dialog-actions>