

    <div class="header row">
        <div class="col-10">
            <h1 class="header-title">
                Affecter ce formulaire aux professionnels de santé
            </h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="dashboard-default.html">Tableau de bord</a></li>
                  
                    <li class="breadcrumb-item active" aria-current="page">Affectation des formulaires</li>
                </ol>
            </nav>
        </div>


        <div class="col-2 ml-auto">
            <button routerLink="/admin/doctors"  mat-raised-button>Gérer les professionnels de santé</button>
        </div>
    </div>


    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-actions float-right">
                    <a href="#" class="mr-1">
                        <i class="align-middle" data-feather="refresh-cw"></i>
                    </a>
                    <div class="d-inline-block dropdown show">
                        <a href="#" data-toggle="dropdown" data-display="static">
                            <i class="align-middle" data-feather="more-vertical"></i>
                        </a>

  
                    </div>
                </div>
                <h1 class="card-title mb-0">Affecter {{form?.title}} à :</h1>
            </div>
            <div class="card-body">
                <table id="datatables-clients" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                           
                            <th>E-mail</th>
                            <th>Télèphone</th>
                     
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let doctor of allDoctors; let i = index">
                            <td><img [src]="path.url +'getfile/' + doctor.photo" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                            <td>{{doctor.name + ' ' + doctor.lastname}} </td>
                           
                            <td>{{doctor.email}}</td>
                            <td>{{doctor.tel}}</td>
                           

                        
                            <td class="table-action">
                                <button *ngIf="!checkIfFormAffectedToDoctor(doctor)" (click)="open(doctor._id , 1)" mat-raised-button >

                                    <mat-icon style="font-size: 30px; margin: 4px;margin-bottom: 8px;">
                                        send
                                    </mat-icon>
                                </button>       
                                <div style="width:4px"></div>
                                <button *ngIf="checkIfFormAffectedToDoctor(doctor)" (click)="open(doctor._id , 2)" mat-raised-button >


                                    <mat-icon style="font-size: 30px; margin: 4px;margin-bottom: 8px;">
                                        cancel_schedule_send
                                    </mat-icon>
                                </button>       
                               
                          
                            </td>
                        </tr>
             
                    </tbody>
                </table>
            </div>
        </div>
    </div>


