<div class="row">

    <div class="header col-9">
        <h1 class="header-title">
            Professionnel de santé
        </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Tableau de bord</a></li>
              
                <li class="breadcrumb-item "><a  routerLink="/admin/doctors">Professionnel de santé </a></li>
                <li class="breadcrumb-item active" aria-current="page">{{doctor?.name + ' ' + doctor?.lastname}}</li>
            </ol>
        </nav>
    </div>
    <div class="col-3">
     <!--    <div class="row mt-1">
            <button  [routerLink]="['/admin/doctors/affect' , doctor?._id]"  mat-raised-button class="ml-auto">
                <mat-icon>screen_share</mat-icon>
                Affecter
            </button>
           
          </div> -->
    
      

    </div>


    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-actions float-right">
                    <a href="#" class="mr-1">
                        <i class="align-middle" data-feather="refresh-cw"></i>
                    </a>
                    <div class="d-inline-block dropdown show">
                        <a href="#" data-toggle="dropdown" data-display="static">
                            <i class="align-middle" data-feather="more-vertical"></i>
                        </a>

                    
                    </div>
                </div>
                <div style="float: right;" class="ml-auto">
                    <a (click)="updateToggle = !updateToggle" ><i style="margin-left: 8px;font-size: 20px;" class="align-middle fas fa-fw fa-pen "></i></a>

                  
                                
                    <a (click)="open(1)" ><i style="margin-left: 8px;font-size: 20px;"  class="align-middle fas fa-fw fa-trash" ></i></a>
                </div>
                <h1 style="color: #153d77; font-weight: bold;" class="card-title mb-0">{{doctor?.name + ' ' + doctor?.lastname}}</h1>

     
            </div>
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="col-sm-3 col-xl-12  text-center">
                      
                            <img [src]="doctor?.photo" width="94" height="94" class="rounded-circle mt-2" alt="Angelica Ramos">
                            <label for="upt">
                            <a (click)="updateTogglePhoto = !updateTogglePhoto" ><i style="margin-left: 8px;font-size: 20px;margin-top: -55px;" class="align-middle fas fa-fw fa-pen "></i></a>
    
                            </label>
                            <br>
                            <input #fileInput (change)="handleFileInput($event.target.files)"  style="display: none;" type="file" id="upt">
                            <button (click)="updatePhoto()" *ngIf="url" class="btn btn-primary mt-2" style="margin-left: -35px;" >Enregistrer 
                                <div   *ngIf="showSpinnerUpdatePhoto" class="spinner-border  " role="status">
                                    <span class="visually-hidden"></span>
                                  </div>
                            </button>
                      
                    </div>
                    <div class="col-sm-9 col-xl-12 col-xxl-8">
                        <strong>A propos </strong>
                       
                    </div>
                </div>

                <table class="table table-sm my-2">
                    <tbody>
                        <tr>
                            <th>Nom</th>
                            <td *ngIf="!updateToggle">{{doctor?.name }}</td>
                            <td *ngIf="updateToggle"><input [(ngModel)]="doctor.name" type="text" class="form-control"></td>
                        </tr>

                        <tr>
                            <th>Prénom</th>
                            <td *ngIf="!updateToggle">{{ doctor?.lastname}}</td>
                            <td *ngIf="updateToggle"><input [(ngModel)]="doctor.lastname" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>E-mail</th>
                            <td *ngIf="!updateToggle">{{ doctor?.email}}</td>
                            <td *ngIf="updateToggle"><input [(ngModel)]="doctor.email" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Date de naissance</th>
                            <td *ngIf="!updateToggle">{{ doctor?.birthday}}</td>
                            <td *ngIf="updateToggle"><input [(ngModel)]="doctor.birthday" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td *ngIf="!updateToggle">{{ doctor?.adresse}}</td>
                            <td *ngIf="updateToggle"><input [(ngModel)]="doctor.adresse" type="text" class="form-control"></td>
   
                        </tr>
                        <tr>
                            <th>Télèphone</th>
                            <td *ngIf="!updateToggle">{{ doctor?.tel}}</td>
                            <td *ngIf="updateToggle"><input [(ngModel)]="doctor.tel" type="text" class="form-control"></td>
   
                        </tr>
         


                        <tr>
                            <th>Fax</th>
                            <td *ngIf="!updateToggle">{{ doctor?.fax}}</td>
                            <td *ngIf="updateToggle"><input [(ngModel)]="doctor.fax" type="text" class="form-control"></td>
   
                        </tr>

                        <tr>
                            <th>RPPS</th>
                            <td *ngIf="!updateToggle">{{ doctor?.rpps}}</td>
                            <td *ngIf="updateToggle"><input [(ngModel)]="doctor.rpps" type="text" class="form-control"></td>
   
                        </tr>

                        <tr>
                            <th>ADELI</th>
                            <td *ngIf="!updateToggle">{{ doctor?.adeli}}</td>
                            <td *ngIf="updateToggle"><input [(ngModel)]="doctor.adeli" type="text" class="form-control"></td>
   
                        </tr>


                        <tr>
                            <th>Genre</th>
                            <td *ngIf="!updateToggle">{{ doctor?.gender}}</td>
                            <td *ngIf="updateToggle">
                                
                                <select name="" id="" class="form-control" [(ngModel)]="doctor.gender">
                                    <option [ngValue]="'homme'">Homme</option>
                                    <option [ngValue]="'femme'">Femme</option>
                                    
                                </select> 
                            
                            </td>
   
                        </tr>

                        <tr>
                            <th>Métier</th>
                            <td *ngIf="!updateToggle">{{ doctor?.job}}</td>
                            <td *ngIf="updateToggle">
                               
                                <input type="text" name="" id="" class="form-control" [(ngModel)]="doctor.job">
                                   
                            </td>
   
                        </tr>
                        <tr>
                            <th>Status</th>

                            <td><span *ngIf="doctor?.account_state" (click)="updateToggle ? doctor.account_state = !doctor.account_state : null" class="badge badge-success">Active</span>
                            
                                <span *ngIf="!doctor?.account_state" (click)="updateToggle ? doctor.account_state = !doctor.account_state : null" class="badge badge-danger">Blocked</span>

                          

                            </td>
                        </tr>
                    </tbody>
                </table>

                <button  (click)="open(2)"  *ngIf="updateToggle" style="margin-right: 0px;margin-left: 80%;" class="mt-5" mat-flat-button color="primary">Enregistrer les modifications</button>
            </div>
        </div>
    </div>

    <div class="col-12">
        <app-myform></app-myform>
    </div>
</div>


